<div class="container">
	<div class="row">
			<div class="news-list-top-component">
				<a class="big-button link-button teal" ng-click="$ctrl.addNews()">Add news</a>
			</div>
			<div class="news-list-top-component">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
					 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Search by tag
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="tag in $ctrl.tagsList" ng-hide="{{tag.newsNumber == 0}}"><span class="tag-dropdown-element" ng-click="$ctrl.search('tag',tag.tag)">{{tag.tag}} ({{tag.newsNumber}})</span></li>
					</ul>
				</div>
			</div>
			<div class="news-list-top-component">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
					 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Search by author
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="author in $ctrl.authorsList" class="author-dropdown-element" ng-click="$ctrl.search('authorId',author.id)" ng-hide="{{author.newsNumber == 0}}">{{author.lastName}} {{author.firstName}} ({{author.newsNumber}})</li>
					</ul>
				</div>
			</div>
			<div class="news-list-top-component">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
					 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Top commented
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
						<li class="comments-dropdown-element" ng-click="$ctrl.search('topCommented',5)">Top 5</li>
						<li class="comments-dropdown-element" ng-click="$ctrl.search('topCommented',20)">Top 20</li>
						<li class="comments-dropdown-element" ng-click="$ctrl.search('topCommented',100)">Top 100</li>
					</ul>
				</div>
			</div>
			<div class="news-list-top-component">
				News on page:
				<select class="dropdown news-number-select" name="number" ng-model="$ctrl.number" ng-change="$ctrl.changeNewsNumber()" ng-options="option for option in ['10','5','3']" ng-init="$ctrl.number='10'">
				</select>
			</div>
			
	</div>
<br/>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<span class="success-message">{{$ctrl.successMessage}}</span>
		<span class="error-message">{{$ctrl.errorMessage}}</span>
		<span class="error-message" ng-show="$ctrl.newsList.length == 0">No news found.</span>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="listBody">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="news in $ctrl.newsList">
					<p class="news-list-header">{{news.title}} </p>
					<p>{{news.authors.length==0 ? 'Unknown author':'Created by:' }}
						<span ng-repeat="author in news.authors">
							{{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
						</span>
					</p>
					<p>{{news.tags.length==0 ? '':'Tags:' }} 
						<span ng-repeat="tag in news.tags">
							{{tag.tag}}{{$last ? '' : ', '}}
						</span>
					</p>
					<p>{{news.shortText}}</p>
					<p class="date">Created: {{news.creationDate | date : 'short' }}. Last modified: {{news.modificationDate | date : 'short'}}</p>
					<span class="pull-right">
						<a title="Edit" class="button link-button teal glyphicon glyphicon-pencil edit-button" ng-click="$ctrl.updateNews(news)"></a>
						<a title="Delete" class="button link-button red glyphicon glyphicon-trash delete-button" ng-click="$ctrl.deleteNews(news.id)"></a>
						<a title="View" class="button link-button blue glyphicon glyphicon-eye-open view-button" href="#/news/{{news.id}}"></a>
					</span>
					<br/>
					<br/>
				</li>
			</ul>
		</div>
	</div>
</div>
<br/>
<div class="row"><div class="col-md-offset-1"  ng-hide="$ctrl.newsNumber < $ctrl.number">
 <pagination total-items="$ctrl.newsNumber" items-per-page="$ctrl.number" 
         ng-model="$ctrl.page" ng-change="$ctrl.updatePage()" max-size="7" boundary-links="true"></pagination>
</div></div>
<br/>
