<div class="row ok-cancel-dialog">
	<div class="col-md-4 col-md-offset-3">
		<span class="dialog-title">{{$ctrl.windowTitle}}</span>
		<p>Are you sure?</p>
		<a class="button teal" ng-click="$ctrl.ok()">OK</a><a class="button red" ng-click="$ctrl.cancel()">Cancel</a>
	</div>
</div>
