<div class="row ok-cancel-dialog">
	<div class="col-md-8 col-md-offset-2">
	<span class="dialog-title">{{$ctrl.windowTitle}}</span>
		<p>Please enter new author:</p>
		<br/>
		<form name="authorForm" ng-submit="$ctrl.save()">
			<div class="row">
				<p>First name: 
				<input name="firstName" type="text" ng-model="$ctrl.firstName" required pattern="[А-яA-z-\s{1}]{2,20}" 
				title="First name should contain only letters, '-' and spaces. Type between 2 and 20 characters.">
				</p>
				<span class="validation not-valid" ng-show="authorForm.firstName.$invalid && authorForm.firstName.$dirty">The first name is invalid.</span>
				<span class="validation valid" ng-show="authorForm.firstName.$valid && authorForm.firstName.$dirty">ok</span>
			</div>
			<div class="row">
				<p>Last name: 
				<input name="lastName" type="text" ng-model="$ctrl.lastName" required pattern="[А-яA-z-\s{1}]{2,20}" 
				title="Last name should contain only letters, '-' and spaces. Type between 2 and 20 characters.">
				</p>
				<span class="validation not-valid" ng-show="authorForm.lastName.$invalid && authorForm.lastName.$dirty">The last name is invalid.</span>
				<span class="validation valid" ng-show="authorForm.lastName.$valid && authorForm.lastName.$dirty">ok</span>
			</div>
			<div class="row">
				<input type="submit" value="OK" class="button teal"/><a class="button red" ng-click="$ctrl.cancel()">Cancel</a>
			</div>
		</form>
	</div>
</div>