<div class="container add-news-dialog">
<div class="row"><div class="col-md-3 col-md-offset-2 dialog-title">{{$ctrl.windowTitle}}</div></div>
	<div class="row">
		<form  name="newsForm" id="saveNewsForm" ng-submit="$ctrl.save()">
			<p>Title: </p>
			<input name="title" type="text" size="50" title="Type between 5 and 200 characters." required pattern=".{5,200}" ng-model="$ctrl.title"/>
			<span class="validation not-valid" ng-show="newsForm.title.$invalid && newsForm.title.$dirty">The news title is invalid.</span>
				<span class="validation valid" ng-show="newsForm.title.$valid && newsForm.title.$dirty">ok</span>
			<p>Short text: </p>
			<textarea  name="short" rows="3" cols="70" required minlength="10" maxlength="200" ng-model="$ctrl.shortText" form="saveNewsForm">Enter text here...</textarea>
			<span class="validation not-valid" ng-show="newsForm.short.$invalid && newsForm.short.$dirty">The news short text is invalid.</span>
				<span class="validation valid" ng-show="newsForm.short.$valid && newsForm.short.$dirty">ok</span>
			<p>Full text: </p>
			<textarea  name="full" rows="8" cols="70" required minlength="50" maxlength="2000" ng-model="$ctrl.fullText" form="saveNewsForm">Enter text here...</textarea>
			<span class="validation not-valid" ng-show="newsForm.full.$invalid && newsForm.full.$dirty">The news full text is invalid.</span>
				<span class="validation valid" ng-show="newsForm.full.$valid && newsForm.full.$dirty">ok</span>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<input type="submit" value="Save" class="big-button teal"/>
					</div>
				<div class="col-md-2">
					<a class="big-button red" ng-click="$ctrl.cancel()">Cancel<a/>
				</div>
			</form>
	</div>
<br/>	
<br/>
	<div class="row">
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Select tag
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="tag in $ctrl.tagsList"><span class="tag-dropdown-element" ng-click="$ctrl.addTag(tag)">{{tag.tag}}</span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<ul>
			<li class="tag-span" ng-repeat="tag in $ctrl.tags"><span class="tag-span-button" ng-click="$ctrl.removeTag(tag)">{{tag.tag}}
			</span></li></ul>
		</div>
	</div>
<br/>
	<div class="row">
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select author
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="author in $ctrl.authorsList" ng-click="$ctrl.addAuthor(author)">
				<span class="author-dropdown-element">{{author.lastName}} {{author.firstName}}</span></li>
			</ul>
		</div>
	</div>

	<div class="col-md-3">
		<ul>
		<li class="author-span" ng-repeat="author in $ctrl.authors"><span class="author-span-button" ng-click="$ctrl.removeAuthor(author)">{{author.firstName}} {{author.lastName}}</span></li></ul>
	</div>

</div>	
<br/>


