<div class="container">
	<div class="row margin-bottom-row">
		<div class="col-md-8">
			<h2 class="article-title">{{$ctrl.news.title}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-2">
					{{$ctrl.news.authors.length==0 ? '':'Created by:' }} 
				</div>
				<div class="col-md-6">
					<span class="author-span" ng-repeat="author in $ctrl.news.authors">
						{{author.firstName}} {{author.lastName}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					{{$ctrl.news.tags.length==0 ? '':'Tags:' }}
				</div>
				<div class="col-md-6">
					<span class="tag-span" ng-repeat="tag in $ctrl.news.tags">
						{{tag.tag}}
					</span>
				</div>
			</div>
			<br/>
			<p class="short-text">{{$ctrl.news.shortText}}</p>
			<br/>
			<p class="full-text">{{$ctrl.news.fullText}}</p>
			<br/>
			<p><span class="date">Created:{{ $ctrl.news.creationDate | date : 'short' }}. Last modified: {{ $ctrl.news.modificationDate | date : 'short' }}</span></p>
			<br/>
		</div>
	</div>
	<div class="row margin-bottom-row" ng-click="showDetails = ! showDetails">
		<span class="comments-label">Comments :</span>
	</div>
	<div class="row">
		<div class="row" ng-show="showDetails">
			<div class="col-md-6">
				<span class="error-message">{{$ctrl.errorMessage}}</span>
				<div class="row">
					<form id="commentForm" ng-submit="$ctrl.addComment()">
						<div class="col-md-2">
							<input type="submit" class="button teal" value="Add" />
						</div>
						<div class="col-md-9">
							<textarea required maxlength="500" ng-model="$ctrl.newComment" form="commentForm" rows="3" cols="65"></textarea>
						</div>
					</form>
				</div>
				<br/>
				<span class="comment-span" ng-repeat="comment in $ctrl.comments track by comment.id">
					<div class="row">
						<div class="col-md-11">
							<div class="comments-list-element">
								<p class="comment-text">{{comment.commentText}}</p>
							</div>
						<span class="date">
							<p>Created: {{comment.creationDate | date : 'short' }}</p>
						</span>
						</div>
						<div class="col-md-1">
							<span class="button-icon glyphicon glyphicon-remove" ng-click="$ctrl.deleteComment(comment)"></span>
						</div>
					</div>
				</span>
				<div class="row"><div class="col-md-offset-2" ng-hide="$ctrl.commentsNumber < 6"><pagination total-items="$ctrl.commentsNumber" items-per-page="$ctrl.number" 
         ng-model="$ctrl.page" ng-change="$ctrl.updateComments()" max-size="7" boundary-links="true"></pagination>
         </div></div>
			</div>
		</div>
	</div>
</div>
