html{
	min-height: 94%;
	height:94%;
}
body{
	position: relative;
 	margin: 0;
 	padding-bottom: 6rem;
 	min-height: 94%;
 	height:94%;
}

.article-header{
	background-color: #6999FF;
	border: 1px solid black;
	padding:20px 50px;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom:30px;
}

.green{
	background-color:green;
}

.footer{
	border-top:1px solid black;
	display: block;
	clear: both;
	position: relative;
	z-index: 10;
	padding: 20px 0;
	width:100%;
	height: 20px;
	text-align: center;
}

.header{
	text-align: center;
	background-color: white;
	border-bottom:1px solid grey;
	min-height: 55px;
}

.page{
	margin-top:50px;
	margin-bottom:50px;
	padding-bottom: 100px;
	min-height: 94%;
	height: 94%;
}

.sidebar{
	min-width: 150px;
	margin-top:100px;
}

.author-span{
	background-color: darkred;
	color:white;
	height:20px;
	margin:1px 5px;
	padding:0px 10px;
	border-radius: 3px;
	float:left;
	display: block;
}
.author-span:hover{
	cursor:pointer;
}
.tag-span{
	background-color: #008080;
	color:white;
	height:20px;
	margin:1px 5px;
	padding:0px 10px;
	border-radius: 3px;
	float:left;
	display: block;
}
.tag-span:hover{
	cursor:pointer;
}


.date{
	font-weight: bold;
	font-style: italic;
	font-size: 8pt;
	text-indent:20px;
}

.article-title{
	font-size:14pt;
	text-transform: uppercase;
}

.comments-label{
	text-align: center;
	font-size: 13pt;
	width:600px;
	text-transform: uppercase;
	background-color: #C0C0C0;
	border:1px solid white;
	border-radius:4px;
	display:block;
	padding:10px 20px;
}

.comments-label:hover{
	cursor:pointer;
	background-color: #E0E0E0;
}

.margin-bottom-row{
	margin-bottom: 30px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.button{
	display: block;
	float:left;
	width: 80px;
	height: 33px;
	font-size: 8pt;
	text-transform: uppercase;
	padding:8px 2px 8px 0px;
	border-radius: 5px;
	margin-right: 0px;
	text-align: center;
	cursor: pointer;
	border: 0px;
}

.blue{
	background-color: #1E90FF;
	color:white;
}
.blue:hover{
	background-color: #00BFFF;
	color:white;
	text-decoration: none;
}
.red:hover{
	background-color: #00BFFF;
	color:white;
	text-decoration: none;
}
.link-button a:hover{
	text-decoration: none;
	color:white;
}
.link-button a:link{
	text-decoration: none;
	color:white;
}

.link-button a:visited{
	text-decoration: none;
	color:white;
}
.link-button a:active{
	text-decoration: none;
	color:white;
}
.nextbtn{
	display: block;
	width: 50px;
	height: 33px;
	font-size: 14pt;
	text-transform: uppercase;
	padding:8px 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px; 
	text-align: center;
}
.prevbtn{
	text-align: center;
	display: block;
	width: 50px;
	height: 33px;
	font-size: 14pt;
	text-transform: uppercase;
	padding:8px 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px; 
}
.nextbtn:hover{
	cursor: pointer;
}
.prevbtn:hover{
	cursor: pointer;
}
.red{
	background-color:#8B0000;
	color:white;
}
.red:hover{
	background-color:#CD5C5C;
	color:white;
}
.red a:hover{
	text-decoration: none;
	color:white;
}
.page-number{
	display: block;
	padding-top:6px;
	font-weight: bold;
}
.teal{
	background-color: #008080;
	color:white;
}

.teal:hover{
	background-color:#20B2AA;
	color:white;
	text-decoration: none;
}

.big-button{
	display: block;
	float:left;
	width: 120px;
	height: 35px;
	font-size: 12pt;
	text-transform: uppercase;
	padding:8px 0px 8px 0px;
	border-radius: 5px;
	margin-right: 3px;
	text-align: center;
	cursor: pointer;
	border:none;
	margin: 0 0;

}
.news-number-select{
	width:50px;
}
.dropdown{
	height: 30px;
	border-radius: 5px;
}
.news-list-header{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12pt;
}

.close-button{
	background-color: transparent;
	border:none;
	margin-left:10px;
	font-size:10pt;
}
.success-message{
	color:#008080;
	text-transform: uppercase;
	font-weight: bold;
	font-size:14pt;
}
.error-message{
	color:darkred;
	text-transform: uppercase;
	font-weight: bold;
	font-size:14pt;
}
.tag-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:200px;
	cursor: pointer;
}
.tag-dropdown-element:hover{
	background-color: teal;
	color:white;
}

.comments-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:80px;
	cursor: pointer;
}
.comments-dropdown-element:hover{
	background-color: #1E90FF;
	color:white;
}

.author-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:200px;
	cursor: pointer;
}
.author-dropdown-element:hover{
	background-color: darkred;
	color:white;
}
.false{
	background-color: #CDCDCD;
}
.false:hover{
	background-color: #CDCDCD;
}

.error-page-message{
	font-size: 14pt;
	font-weight: bold;
	color:darkred;
	display:block;
	margin-top:50px;
}
.ok-cancel-dialog{
	padding:50px 20px;
}

.listBody{
	min-height: 500px;	
}
.button-icon{
	cursor:pointer;
	font-size: 16pt;
}

.add-news-dialog{
	padding:50px 70px 50px 50px;
}
.edit-button{
	width:50px;
	font-size: 14pt;
}
.delete-button{
	width:50px;
	font-size: 14pt;
}
.back-button{
	font-size:13pt;
}
.view-button{
	width:50px;
	font-size: 14pt;
}
.dialog-title{
	font-size: 16px;
	color:teal;
	font-weight: bold;
	text-transform: uppercase;
}

.news-list-top-component{
	display: block;
	float:left;
	min-width:80px;
	height:50px;
	padding-right:20px;
	vertical-align: middle;
}
.comments-list-element{
	text-indent:50px;
	width:500px;
	text-align: left;
	margin-bottom: 5px;
}

.header-title{
	font-size: 14pt;
}

.comment-span{
	display: block;
	border-bottom:1px solid grey;
	word-wrap: break-word;
}
.validation{
	text-indent:30px;
	display: block;
	width:100%;
	max-width: 400px;
	border-radius: 5px;
	height: 40px;
	padding:8px 10px;
	margin-bottom: 10px;
	margin-top:10px;
}

.not-valid{
	background-color: #FDB8B8;
	border:1px solid #FA8072;
	color:#DC143C;
}
.valid{
	background-color: #90EE90;
	border:1px solid #008000;
	color:#008000;
	text-transform: uppercase;
}
.full-text{
	text-indent:40px;
	font-size:12pt;
	font-family: sans-serif;
}
.short-text{
	text-indent:40px;
	font-size:12pt;
	font-family: sans-serif;
	font-style: italic;
}