<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<a class="big-button teal" ng-click="$ctrl.saveTag()">Add tag</a>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<span class="success-message">{{$ctrl.successMessage}}</span>
		<span class="error-message">{{$ctrl.errorMessage}}</span>
	</div>
</div>
<br/>

<div class="row listBody">
	<div class="col-md-10">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="tag in $ctrl.tagsList">
				<div class="row"> 
					<div class="col-md-8">
						<span>{{tag.tag}}</span>
					</div>
					<div class="col-md-3">
					<a  title="Edit" class="button teal glyphicon glyphicon glyphicon-pencil edit-button" ng-click="$ctrl.updateTag(tag)"></a>
					<a title="Delete" class="button red glyphicon glyphicon-trash delete-button" ng-click="$ctrl.deleteTag(tag)"></a></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<br/>
<div class="row"><div class="col-md-offset-1">
<pagination total-items="$ctrl.tagsNumber" items-per-page="$ctrl.number" 
         ng-model="$ctrl.page" ng-change="$ctrl.updateTagPage()" max-size="7" boundary-links="true"></pagination></div></div>