<div class="row">
	<div class="col-md-2 col-md-offset-3">
		<a class="big-button teal" ng-click="$ctrl.saveAuthor()">Add author</a>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<span class="success-message">{{$ctrl.successMessage}}</span>
		<span class="error-message">{{$ctrl.errorMessage}}</span>
	</div>
</div>
<br/>
	<div class="row listBody">
		<div class="col-md-10">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="author in $ctrl.authorsList"> 
					<div class="row">
						<div class="col-md-8">
							<span>{{author.lastName}}</span> 
							<span>{{author.firstName}}</span> 
						</div>
						<div class="col-md-4">
							<a class="button teal glyphicon glyphicon glyphicon-pencil edit-button" ng-click="$ctrl.updateAuthor(author)"  title="Edit"></a>
							<a class="button red glyphicon glyphicon-trash delete-button" ng-click="$ctrl.deleteAuthor(author)"  title="Delete"></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

<br/>
<div class="row"><div class="col-md-offset-1">
<pagination total-items="$ctrl.authorsNumber" items-per-page="$ctrl.number" 
         ng-model="$ctrl.page" ng-change="$ctrl.updateAuthorPage()" max-size="7" boundary-links="true"></pagination></div></div>