<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>News</title>
	<script  src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<link rel="icon" href="data:;base64,=">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
	
	<script type="text/javascript" src="newsApp.module.js"></script>
	<script type="text/javascript" src="newsApp.config.js"></script>
	
	<script type="text/javascript" src="components/news/list/news-list-module.js"></script>
	<script type="text/javascript" src="components/tags/list/tags-list-module.js"></script>
	<script type="text/javascript" src="components/authors/list/authors-list-module.js"></script>
	<script type="text/javascript" src="components/news/view/news-view-module.js"></script>
	<script type="text/javascript" src="components/error-page/error-page-module.js"></script>
	<script type="text/javascript" src="components/util/configuration-module.js"></script>
	
	<script type="text/javascript" src="components/tags/list/tags-list-controller.js"></script>
	<script type="text/javascript" src="components/authors/list/authors-list-controller.js"></script>
	<script type="text/javascript" src="components/news/list/news-list-controller.js"></script>
	<script type="text/javascript" src="components/news/view/news-view-controller.js"></script>
	<script type="text/javascript" src="components/error-page/error-page-controller.js"></script>
	
	<script type="text/javascript" src="components/news/list/news-list-service.js"></script>
	<script type="text/javascript" src="components/authors/list/authors-list-service.js"></script>
	<script type="text/javascript" src="components/tags/list/tags-list-service.js"></script>
	<script type="text/javascript" src="components/news/view/comment-list-service.js"></script>
	
	<script type="text/javascript" src="components/dialogs/controllers/accept-dialog-controller.js"></script>
	<script type="text/javascript" src="components/dialogs/controllers/author-dialog-controller.js"></script>
	<script type="text/javascript" src="components/dialogs/controllers/news-dialog-controller.js"></script>
	<script type="text/javascript" src="components/dialogs/controllers/tag-dialog-controller.js"></script>
	
</head>

<body ng-app="newsApp">
	<div class="panel-heading header row">
		<div class="col-md-2 col-md-offset-2">
			<span ng-show="$root.showBackButton"><a title="Back" class="button red glyphicon glyphicon-arrow-left back-button" ng-click="$root.back()"></a></span>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<span class="header-title">News management</span>
		</div>		
	</div>
	<div class="container page">
		<div class="row">
			<div class="col-md-1">
				<div class="list-group sidebar">
					<a class="list-group-item" href="#/news">News</a>
					<a class="list-group-item" href="#/authors">Authors</a>
					<a class="list-group-item" href="#/tags">Tags</a>
				</div>
			</div>
			<div class="col-md-9 col-md-offset-2">
				<div ng-view></div>	
			</div>
		</div>
	</div>
	<div class="footer">Copyright &#9400;</div>
</body>
</html>